/* 
    default.css 

    Fonts helper: https://google-webfonts-helper.herokuapp.com/fonts

*/
   
/* fira-mono-regular - latin */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-mono-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Fira Mono Regular'), local('FiraMono-Regular'),
         url('./../../3rdParty/font/fira-mono-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./../../3rdParty/font/fira-mono-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./../../3rdParty/font/fira-mono-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./../../3rdParty/font/fira-mono-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./../../3rdParty/font/fira-mono-v8-latin-regular.svg#FiraMono') format('svg'); /* Legacy iOS */
  }

/* We use only one font for the whole application. */
body {
    font-family: "Fira Mono";
}

/*
.v-card__text
{
    font-size: larger !important;
}
*/

.root-div {
    padding: 8px;
}

.turn-current {
    height: 100px;
    font-weight: bold !important;
}
  
.vc-space {
    padding-bottom: 16px;
}

.vc-players {
    border-style: solid;
    border-color: black;
    border-width: 1px; 
}
 
.vc-player input {
    /*font-family: 'Montserrat', sans-serif;*/
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.vc-history {
    border-style: solid;
    border-color: black;
    border-width: 1px; 
}

.turn-current {
    border-style: solid;
    border-color: black;
    border-width: 1px;    
}

/* */
.playerA {
    background-color: coral !important;
}

/* */
.playerB {
    background-color: cornflowerblue !important;
}

.turn-winner {
    background-color: green;
}

.turn-loser {
    background-color: red;
}

.turn-history {
    background-color: burlywood;
}

.turn-labels-col {
    padding-bottom: 0px;
}

.turn-labels-label {
    text-decoration: underline;
}

.vc-info {
    background-color: lightyellow;
    font-size: x-large;
}

.info-label {
    width: 100%;
}

.vc-info {
    background-color: lightyellow;
    border-style: solid;
    border-color: black;
    border-width: 1px; 
}